@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
/* Colores */
--primary-color:#79cb31;
--secondary-color:#ffffff;
--terciary-color:#313337;
--text-color:#343639;
/* Tipografía */
--primary-font: 'Open Sans';
/* Box shadow */
--box:1px 0px 20px 0px rgba(0, 0, 0, 0.6);
}

.col-12 { width: 100%; }

.container {
    width: 100%;
    margin: 0 auto;

    font-family: var(--primary-font);
    color: var(--text-color);
    background-color: var(--secondary-color);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

img{
    max-width: 100%;
}

/* HEADER */
header{
    padding: 20px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_menu ul{
    display: flex;
    list-style: none;
    gap: 15px;
}

#header_menu li a{
    color: var(--text-color);
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    transition: color .3s ease, transform .5s ease;
}

#header_menu li a:hover{
    color: var(--secondary-color);
    transform: scale(105%);
}

header img{
    width: 90px;
}

/* MAIN */
#main_section {
    padding: 20% 17%;
    text-align: center;
    font-size: medium;
}

/* PRODUCTS */
#products{
    padding: 100px 20px 50px;
    display: flex;
    justify-content: center;
    background-image: url('../images/curve.png');
    background-size: cover;
    background-position: center top;
}

#products .col-12{
    margin: 20px 10px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-80px);
    transition: box-shadow .3s ease, transform .5s ease;
}

#products .col-12:hover{
    box-shadow: 5px 5px 40px 0px rgba(0, 0, 0, 0.7);;
    transform: translateY(-80px) scale(101%);
}

#products .col-12 p{
    font-size: 14px;
    margin: 17px;
}

#products article img{
    width: 25%;
    margin: 25px auto 5px;
}

.main_button{
    padding: 10px;
    margin-bottom: 10px;
    font-size: medium;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 90%;
    border: none;
    border-radius: 3px;
    transition: background-color .3s ease, transform .5s ease;
}

.main_button:hover{
    background-color: #5e9e22;
    transform: scale(105%);
}

/* BENEFITS */
#benefits{
    padding: 10% 5%;
    display: flex;
    gap: 35px;
}

#benefits .col-12{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .5s ease;
}

#benefits .col-12:hover{
    transform: scale(105%);
}

#benefits article h2{
    margin: 15px 0;
    font-size: x-large;
}

#benefits article p{
    padding: 20px 0;
    font-size: 16px;
}

#benefits img{
    width: 27%;
    margin: 10px;
}

#benefits img[src="images/b1.png"] {
    width: 35%;
    margin: 2px;
}

hr{
    width: 100%;
    border: none;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

/* MENTIONS */
#title_mentions{
    margin: 30px;
    text-align: center;
    font-size: 200%;
}

#mentions{
    padding: 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

#mentions .col-12{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    border-radius: 3px 3px 0px 0px;
    box-shadow: var(--box);
    transition: box-shadow .3s ease, transform .5s ease;
}

#mentions .col-12:hover{
    box-shadow: 5px 5px 40px 0px rgba(0, 0, 0, 0.7);;
    transform: scale(105%);
}

#mentions .col-12 img{
    width: 100%;
    border-bottom: 2px solid var(--secondary-color);
    border-radius: 3px 3px 0px 0px;
}

#mentions .col-12 h3{
    font-size: x-large;
    margin: 10px;
}

#mentions .col-12 p{
    margin: 0 10px 20px;
}

/* FOOTER */
footer{
    padding: 1%;
    background-color: var(--terciary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
}

footer a{
    font-size: small;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color .3s ease, transform .5s ease;
}

footer a:hover{
    color: var(--primary-color);
    transform: scale(105%);
}

@media (min-width: 768px){
    #main_section {
        padding: 16% 17%;
        font-size: large;
    }

    .col-md-3{
        width:20%;
    }

    .col-md-4{
        width:30%;
    }

    .col-md-6{
        width:30%;
    }
}